html, body {
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: #fff;
    
}
/* width */
*::-webkit-scrollbar {
  width: 5px;
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
  background: #fff;
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
  background: #0d6efd;
  }
  
  .header {
    background-color:#0d6efd;
  }
  
  .container {
    /* max-width: 940px; */
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .jumbotron {
    background: url(https://images.unsplash.com/photo-1523050854058-8df90110c9f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    height: 800px;
  }
  
  .nav {
    margin: 0;
    padding: 20px 0;
  }
  
  .nav li {
    display:inline;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform:uppercase;
    margin-left:10px;
    margin-right:10px;
  }
  
  .main {
    position: relative;
    top: 180px;
    text-align: center;
  }
  
  .main h1 {
    color: #0d6efd;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  
  .btn-main {
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btn-default {
    color:#333;
    border:1px solid #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;  
    display: inline-block;
    margin-bottom: 20px; 
    padding-right:50px;
    padding-left:50px;
  }
  
  .supporting {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  
  .supporting .col {
    float: left;
    width: 33%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  
  .supporting img {
    height: 32px;
  }
  
  .supporting h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
  }
  
  .supporting p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 50px;
    margin-bottom: 40px;
  }
  
  .clearfix {
    clear: both;
  }
  
  .footer {
    background-color: #0d6efd;
    color: #fff;
    padding: 30px 0;
  }
  
  .footer p {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
  }
  .box{
    width: 80%;
    margin: 200px auto;
    top: 200px;
    border: 1px solid #000;
    height: 100vh;
    padding: 3px;
}
.filter{
    
    background-color: #fff;
    text-align: center;
    

}
option{
    line-height: 10px;
}
.fbody{
    height: 80%;
    padding: 10px;
}
  
  @media (max-width: 500px) {
    .main h1 {
      font-size: 50px;
      padding: 0 40px;
    }
  
    .supporting .col {
      width: 100%;
    }
  }
  /* table data started */
  h2 {
    font-size: 24px;
    text-align: center;
    font-family: arial;
    margin-bottom: 30px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: rgb(185 188 191 / 20%) 0px 0px 24px 5px;
    border-radius: 5px;
    font-family: arial;
    thead {
      
      th {
        padding: 10px 16px;
        text-align: left;
        background-color: #0d6efd;
      }
    }
  
    tbody {
      tr {
        td {
          padding: 10px 16px;
          border-bottom: 1px solid #eee;
        }
  
        .action {
          display: flex;
  
          button {
            margin-right: 10px;
            cursor: pointer;
            background-color: #f3f3f5;
            border: none;
            padding: 5px 10px;
            border-radius: 2px;
  
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    overflow: auto;
  
    .res-head {
      display: none;
    }
  table>img{
    height: 50px;
    width: 50px;
  }
    @media screen and (max-width: 767px) {
      background-color: transparent;
      box-shadow: none;
      thead {
        display: none;
      }
  
      tbody {
        tr {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 10px;
          background-color: #fff;
          padding: 50px 10px 10px 10px;
          position: relative;
          background-color: #fff;
          box-shadow: rgb(185 188 191 / 20%) 0px 0px 24px 5px;
  
          td {
            display: flex;
            background-color: transparent;
            padding: 0;
            margin-bottom: 5px;
            margin-right: 16px;
            border: none;
            flex-wrap: wrap;
  
            .res-head {
              display: block;
              font-weight: 700;
              margin-right: 5px;
            }
  
            &:first-child {
              position: absolute;
              top: 10px;
              left: 10px;
            }
          }
  
          .action {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
    }
  }

  .newsletter {
    display: block; 
    position: fixed; 
    z-index: 9999; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; 
    height: 300px; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
    padding: 20px;
    box-sizing: border-box;
   }
   
   .newsletter .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
   }
   
   .newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20%;
   }
   
   .newsletter input[type="email"],
   .newsletter input[type="submit"] {
    padding: 10px;
    font-size: 16px;
   }
  
  